body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at bottom, #1c1c1c, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #f4f4f4;
  }

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: #000;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

h1 {
    text-align: center;
    font-size: 3.5em;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

button:hover {
    background-color: cadetblue;
    color: #e0e0e0;
}